/// @author Delziron Braz
/// @access public
/// @group modules
/// @type scss spacing

// Name	    Size	Pixels	
$spacing-0: 0px; // 0px	
$spacing-1: 1px; //1px	
$spacing-2: 0.125rem; //2px	
$spacing-3: 0.25rem; //4px	
$spacing-4: 0.375rem; //6px	
$spacing-5: 0.5rem; //8px	
$spacing-6: 0.625rem; //10px	
$spacing-7: 0.75rem; //12px	
$spacing-8: 0.875rem; //14px	
$spacing-9: 1rem; //16px	
$spacing-10: 1.25rem; //20px	
$spacing-11: 1.5rem; //24px	
$spacing-12: 1.75rem; //28px	
$spacing-13: 2rem; //32px	
$spacing-14: 2.25rem; //36px	
$spacing-15: 2.5rem; //40px	
$spacing-16: 2.75rem; //44px	
$spacing-17: 3rem; //48px	
$spacing-18: 3.5rem; //56px	
$spacing-19: 4rem; //64px	
$spacing-20: 5rem; //80px	
$spacing-21: 6rem; //96px	
$spacing-22: 7rem; //112px	
$spacing-23: 8rem; //128px	
$spacing-24: 9rem; //144px	
$spacing-25: 10rem; //160px	
$spacing-26: 11rem; //176px	
$spacing-27: 12rem; //192px	
$spacing-28: 13rem; //208px	
$spacing-29: 14rem; //224px	
$spacing-30: 15rem; //240px	
$spacing-31: 16rem; //256px	
$spacing-32: 18rem; //288px	
$spacing-33: 20rem; //320px	
$spacing-34: 24rem; //384px	