/// @author Delziron Braz
/// @access public
/// @group modules
/// @type scss colors 

$primary: hsl(94, 59%, 35%);
$hover: #BDF094;
$paleGreen: hsl(96, 75%, 89%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 18%);
$text: hsl(240, 1%, 48%);
$background: hsl(220, 10%, 94%);
$grey: hsl(190, 190%, 190%);
$input: hsl(330, 12%, 97%);