@import '../../stylesheets/index.scss';

.main {
    width: 82%;
    height: 100%;
    padding: $spacing-13;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &-footer {
        margin-top: $spacing-13;
        gap: $spacing-13;
        @include display($display: flex);
    }
}